*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
    display: flex;
    height: 100vh;
    
}
.full-container{
    position: fixed;
    width: 100%;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    
    
    
}
.imgw{
    position: fixed;
    height: 650px;
    z-index: -1;
}
.imgp{
    height: 400px;
}
.avatar{
    height: 100px;
}
.img-container{
    flex: 1;
}
.login-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inner-login a{
    align-self: end;
    text-decoration: none;
    color: rgb(97, 96, 96);
    margin: 10px 0;
}
.inner-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 60%;
    
}
.input-div{
    width: 100%;
    margin: 20px 0;
    
}
.welcome{
    margin: 30px 0;
    font-weight: bold;
    color: #999;
}
.input-div > div h5{
    position: absolute;
    transform: translateY(-90%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input{
    background: none;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #999;
    outline: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.5rem;
    color: #555;
}
.textbox{

}
.textbox input{
    width: 100%;
    height: 30px;
}
.btn{
    border: 0;
    background-color: rgb(35,153,127);
    padding: 13px 0;
    width: 100%;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    
}
@media(max-width:800px){
    .full-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .img-container{
        flex: .001;
    }
    .imgp{
        height: 150px;
    }
    .inner-login{
        width:300px;
    }
    .input-div > div h5{
        color: whitesmoke;
    }
    .input{
        border-bottom:2px solid whitesmoke;
        color: whitesmoke;
    }
}
@media(max-width:1200px){
    .full-container{
        padding: 5px;
    }
}